* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: 'Star Wars', sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    background-image: url(../img/space.png);
    padding-top: 3rem;
}

/*--Container title--*/

.container-title {
    display: flex;
    flex-direction: column;
    cursor: default;
}

.title {
    font-size: 3rem;
    text-align: center;
    color: #fff;
    -webkit-text-stroke: .5px black;
	line-height: 4rem;
}

.title:nth-child(2) {
	  line-height: 4rem;
    margin-bottom: 2rem
}

.starwars-title {
	color: #000;
	-webkit-text-stroke: .5px yellow;
}

.container-flags {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding-top: 5rem;
}

.button-flag {
    all: unset;
    margin: 3rem;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.container-flags > button > img {
    width: 100%;
}

.copyright {
    font-family: sans-serif;
    font-size: 2rem;
    color: #fff;
    position: absolute;
    bottom: 4rem;
}

p a {
    color: #25ff00;
    font-weight: bold;
}

@media screen and (min-width: 600px) {
  .title {
    font-size: 4rem;
}

.copyright {
    bottom: 2rem;
    font-size: 2.5rem;
}
}
